<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="toggleInfiniteScroll()" expand="block">
        Toggle Infinite Scroll
      </ion-button>
    
      <ion-list *ngFor="let user of users">
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>
                <h2>{{user.name}}</h2>
                <p>Created {{user.age}}</p>
              </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
