<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="ion-text-wrap">
      对于添加菜单本系统的menu组件并没有用到，而是在
      app.component.html中追加菜单html,在tab5的ts中追加
      相关事件
    </ion-label>
  </ion-item>
  <ion-menu-button menu="end"></ion-menu-button>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>
  <ion-button (click)="openFirst()" expand="block">
    openFirst
  </ion-button>
  <ion-button (click)="openEnd()" expand="block">
    openEnd
  </ion-button>
  <ion-button (click)="openCustom()" expand="block">
    openCustom
  </ion-button>
  <ion-button (click)="presentModal()" expand="block">
      modalpage
    </ion-button>
  <ion-list *ngFor="let user of users">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h2>{{user.name}}</h2>
        <p>Created {{user.age}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>