<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="presentAlert()"> presentAlert</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="presentAlertMultipleButtons()"> presentAlertMultipleButtons</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="presentAlertConfirm()"> presentAlertConfirm</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="presentAlertPrompt()"> presentAlertPrompt</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="presentAlertRadio()"> presentAlertRadio</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="presentAlertCheckbox()"> presentAlertCheckbox</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>